    <main class="jumbotron">
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" class="active"  data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="img1">
              <img src="../../assets/images/Frontliner_Online_Class-02.svg" />
            </div>
            <div class="container">
              <div class="carousel-caption text-end">
                <h1>Limitless learning at your fingertips</h1>
              </div>
            </div>
          </div>
          <div class="carousel-item " >
            <div class="img2">
            <img src="../../assets/images/mvb-classroom-header-board.svg" />
            </div>
            <div class="container">
              <div class="carousel-caption text-end">
                <h1>Let's learn something new today!</h1>
              </div>
            </div>
          </div>
          <!-- <div class="carousel-item">
            <div class="img3">
            <img src="../../assets/images/back-to-school-school-svgrepo-com.svg" />
            </div>
            <div class="container">
              <div class="carousel-caption text-end">
                <h1>Want to clear your doubt?</h1>
                
              </div>
            </div>
          </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
      <div class="container marketing">
        <div class="row">
          <div class="col-lg-4">
            <div class="bd-placeholder-img rounded-circle" style="width: 140px;height:140px">
              <img width="430px" height="418px" src="../../assets/images/learn.jpg" />
            </div>
            <div class="feature-col">
              <h2 class="fw-normal feature-header" >Learn</h2>
            <p>Join classrooms with your team and have fun learning together</p>
            <p><button class="btn btn-primary" (click)="onViewDetailsClicked()">View details &raquo;</button></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="bd-placeholder-img rounded-circle" style="width: 140px;height:140px">
              <img width="430" height="418px" src="../../assets/images/practice2.jpg" />
            </div>
           <div class="feature-col">
            <h2 class="fw-normal feature-header" >Practice</h2>
            <p>Practice and Discuss what you've learned. Take team's help when stuck.</p>
            <p><button class="btn btn-primary" (click)="onViewDetailsClicked()">View details &raquo;</button></p>
           </div>
          </div>
          <div class="col-lg-4">
            <div class="bd-placeholder-img rounded-circle" style="width: 140px;height:140px">
              <img width="430px" height="418px" src="../../assets/images/assign2.jpg" />
            </div>
            <div class="feature-col">
              <h2 class="fw-normal feature-header">Assignments</h2>
              <p>Assessment of your skills through assignments. Great way to help you fill knowledge gaps.</p>
              <p><button class="btn btn-primary" (click)="onViewDetailsClicked()">View details &raquo;</button></p>
            </div>
          </div>
        </div>
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Speak Up! <span class="text-muted">It’ll blow your mind.</span></h2>
            <p class="lead">Lets connect and start discusson on any topic.<br> You dont have a topic? No worry! Our portal is self efficient to suggest you a any random topic and will nominate to anyone in the team.HAVE A FUN.</p>
          </div>
          <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../../assets/images/speak1.jpg" />
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Quiz <span class="text-muted">For more Fun.</span></h2>
            <p class="lead">Solve quizzes and Earn points. Make your team top the leaderboard.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
            <div class="">
              <img width="520" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../../assets/images/quiz2.jpg" />
            </div>
          </div>
        </div>
    
        <hr class="featurette-divider">
    
      </div>
      
      <footer class="container">
        <p class="float-end"><a href="#" routerLink="#">Back to top</a></p>
        <p>&copy; Epam–2022 Company, Inc. &middot; <a href="#" routerLink="#">Privacy</a> &middot; <a href="#" routerLink="#">Terms</a></p>
      </footer>
  </main>
 