.rounded-circle {
    border-radius: 50% !important;
  }
  .avatar {
    font-size: 1rem;
    display: inline-flex;
    width: 48px;
    height: 48px;
    color: #fff;
    border-radius: 50%;
    background-color: #adb5bd;
    align-items: center;
    justify-content: center;
  }
  .avatar img {
    width: 100%;
    border-radius: 50%;
  }

  .avatar-sm {
    font-size: .875rem;
    width: 36px;
    height: 36px;
  }
  .avatar-group{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
  }
  .avatar-group .avatar {
    position: relative;
    z-index: 2;
    border: 2px solid #fff;
  }

  .avatar-group .avatar:hover {
    z-index: 3;
  }

  .avatar-group .avatar + .avatar {
    margin-left: -1rem;
  }
  .user-comment{
    display: flex;
    align-items: center;
  }
  .post-btn{
    width: 100px;
    margin-bottom: 20px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 10px 16px;
  }
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    width: 30%;
    font-size: 15px;
  }

  .card button:hover {
    opacity: 0.7;
  }
  video {
    height: 200px;
    width: 100%;
  }

  iframe {
    width: 100%;
  }
  
  .jumbotron {
    background-color: #adc9e4;
  }
  .class-header{
    display: flex;
    justify-content: space-between;
  }
.participants{
  padding-right: 25px;
  display: flex;
}

.participant-count{
  color: #e40c0c;
    position: relative;
    font-family: fantasy;
    font-size: 25px;
    top: -19px;
}

.linkdisabled {
  pointer-events: none;
  /* color: #c4c4c4; */
}