.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  border: 2px solid yellow;
}

.flex-child:first-child {
  margin-right: 20px;
}
.topic-item{
  cursor: pointer;;
}

.vl {
  border-left: 3px solid #76cdd8;
  height: 100%;
}
.list-heading{
    font-size: 22px;
    color: #161013;
    padding-left: 28px;
    padding-bottom: 10px;
}
.list-group-item.active {
    background-color: #161013;
    border-color: #161013;
}
.content-heading{
  font-size: 22px;
  color: #161013;
  padding-left: 28px;
  padding-bottom: 10px;
}

blockquote {
  padding: 20px;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}
